@page
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal;
@model SW.schedulity.Web.Pages.Admin.Courses.CreateModalModel
@{
    Layout = null;
}

<form asp-page="/Admin/Courses/CreateModal">
    <abp-modal>
        <abp-modal-header title="Create"></abp-modal-header>
        <abp-modal-body>
            <input hidden asp-for="Course.SectionId"  value="@Model.SectionId"/>
            <abp-input type="text" asp-for="Course.Title" />
            <abp-input asp-for="Course.NumberOfHours" min="0" step="3" max="3" />
            <abp-input asp-for="Course.order" min="0" />
            <abp-select asp-for="Course.CourseType" />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
